.header {
    position: fixed;
    /* ヘッダーを固定 */
    top: 0;
    left: 0;
    right: 0;
    background-color: #CEB599;
    color: #FCF8ED;
    z-index: 1000;
    /* 他の要素よりも前に表示 */
    border-bottom: 3px dashed #ccc;
    /* 点線のスタイル */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 5rem;
  }