:root {
    --primary: #CEB599;
    --secondary: #EED9DD;
    --light: #FCF8ED;
  }

html,
body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--primary);
  background: var(--light);
  margin: 0px !important;
}

