.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #FFFFFF;
    touch-action: none;
    /* 長押しやスワイプの動作を防止 */
    user-select: none;
    /* 画像選択を無効化 */
}

.return{
    position: absolute;
    top: 20px;
    left: 20px;
}

.pop {
    touch-action: none;
    /* 長押しやスワイプの動作を防止 */
    user-select: none;
    /* 画像選択を無効化 */
}

.dogImage {
    cursor: pointer;
    touch-action: none;
    /* 長押しやスワイプの動作を防止 */
    user-select: none;
    /* 画像選択を無効化 */
}

.dogGif {
    touch-action: none;
    /* 長押しやスワイプの動作を防止 */
    user-select: none;
    /* 画像選択を無効化 */
}

.otebutton{
    position: absolute;
    bottom: 10px;
}